{% extends '@EasyAdmin/form/bootstrap_3_layout.html.twig' %}

{% block custom_button %}
    {{ dump() }}
    <button type="button" class="btn btn-primary action-eraser">
        <i class="fa fa-eraser"></i> Empty the fields
    </button>
{% endblock custom_button %}