body
{
    /*background-image: url('uploads/images/login.jpg');*/
    /*background-repeat: repeat ;*/
}

.input-group-addon {
    color: aliceblue;
}

label.form-check-label {
    color: darkblue;
}

.form-header {
    color: #b1b1b1;;font-family: sans-serif;text-transform: uppercase;
}

.form-h-line {
    height: 4px;
    /* border: 1px solid #111211; */
    background-color: #cca20cbd;
    width: 130%;
}

.v-text-field.v-text-field--solo .v-input__control {
    min-height: 48px !important;
    padding: 0 !important;
    max-height: 30px !important;
}

.v-input__control {

    max-height: 24px!important;
}